.cart-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  
  .cart-table th,
  .cart-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  .cart-table th {
    font-weight: bold;
  }
  
  .cart-table img {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  
  .cart-table .delete-button {
    cursor: pointer;
    color: red;
  }
  
  .cart-table .quantity-cell {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
  }
  
  .cart-table .quantity-cell span {
    cursor: pointer;
  }


  .cart-table .total-carts-row {
    width: 100%;
        display: flex;
        
  }
  
  .cart-table .total-carts-row td {
    font-weight: bold;
    text-align: right;
  }
  
  .cart-table .total-carts-row td:first-child {
    text-align: left;
  }