// ProductItem.scss

.product-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  
    &__image {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 4px;
      margin-bottom: 20px;
    }
  
    &__title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
    }
  
    &__price {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }
  
    &__category {
      font-size: 16px;
      color: #888;
      margin-bottom: 10px;
    }
  
    &__description {
      margin-bottom: 10px;
    }
  
    &__rating {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
  
      &__rate {
        margin-right: 5px;
        font-weight: bold;
      }
  
      &__count {
        font-size: 14px;
        color: #888;
      }
    }
  }
  