// ProductCard.scss

.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease;
  
    &:hover {
      transform: translateY(-5px);
    }
  
    &__image {
      width: 100%;
      height: 180px;
      object-fit: cover;
      border-radius: 4px;
      margin-bottom: 10px;
    }
  
    &__title {
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 10px;
    }
  
    &__category {
      font-size: 14px;
      color: #888;
      margin-bottom: 10px;
    }
  
    &__price {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }
  
    &__rating {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
  
      &__count {
        font-size: 14px;
        margin-left: 5px;
        color: #888;
      }
    }

    
    &__details-button {
        display: inline-block;
        padding: 8px 16px;
        background-color: #000;
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        border: none;
        border-radius: 4px;
        transition: background-color 0.3s ease;
      
        &:hover {
          background-color: #333;
        }
      }

   &__addTocart-button{
    
   }   


  }
  